/**
 * Flag Waver
 *
 * Simulate a flag waving in the breeze right in your browser window.
 *
 */

/* //// Reset //// */

*,
*:before,
*:after {
    -webkit-box-sizing : border-box;
       -moz-box-sizing : border-box;
            box-sizing : border-box;
}

* {
    margin  : 0;
    padding : 0;
}

/* //// Layout //// */

/* Main */

html,
body,
.wrapper-page,
.page-main,
.js-flag-canvas {
    width  : 100%;
    height : 100%;
    overflow : hidden;
}

.page-header,
.page-controls {
    position : absolute;
    z-index  : 1;
}

.page-controls {
    bottom : 0;
}

.page-controls,
.page-controls-basic,
.page-controls-more {
    width : 100%;
}

.page-controls-more {
    background-color : #888888;
    background-color : rgba(0,0,0,0.6);
}

.page-header,
.page-controls-group {
    padding : 18px;
}

.page-controls-group {
    max-width : 640px;
    display   : inline-block;
}

.page-controls-basic > .page-controls-group {
    vertical-align : bottom;
}

.page-controls-wide {
    width : 100%;
}

/* Expandable */

.expandable {
    max-height : 0;
    transition : max-height 0.25s;
}

.expandable.expanded {
    max-height : 500px;
    transition : max-height 1s;
}

.expander.closed .expander-open,
.expander.open .expander-closed {
    display : none;
}

/* //// Typography and Style //// */

body {
    color       : #ffffff;
    font-family : 'Open Sans', Helvetica, Arial, sans-serif;
    font-size   : 12pt;
    line-height : 16pt;
}

h1, h2, h3, h4, h5, h6,
p, a {
    color       : #ffffff;
}

.page-header,
.page-controls {
    font-size : 12pt;
}

.page-header > h1,
.page-controls-group > h2 {
    font-weight : 600;
    text-shadow : 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.page-header > h1 {
    font-size   : 24pt;
}

.page-controls-group > h2 {
    font-size : 12pt;
}

/* //// Input Controls //// */

/* Basic Input */

[role="button"] {
    cursor : pointer;
}

/* Basic Input Groups */

.input-control-group {
    display  : table;
    position : relative;
    border-collapse : separate;
    border-spacing  : 0;
}

.input-control-group,
.input-control,
.input-btn {
    margin : 4px 2px;
}

.input-control,
.input-btn,
.input-addon,
.input-btn-group {
    vertical-align : middle;
    white-space    : nowrap;
}

.input-control,
.input-btn,
.input-addon {
    height      : 36px;
    overflow    : hidden;
    background  : inherit;
    border      : 2px solid #cccccc;
    color       : #cccccc;
    font-size   : 12pt;
    line-height : 24px;
    text-align  : center;
}

.input-control,
.input-btn {
    display            : inline-block;
    border-radius      : 6px;
    padding            : 4px 12px;
    -webkit-transition : border-color ease-in-out .25s, color ease-in-out .25s, -webkit-box-shadow ease-in-out .25s;
    -o-transition      : border-color ease-in-out .25s, color ease-in-out .25s, box-shadow ease-in-out .25s;
    transition         : border-color ease-in-out .25s, color ease-in-out .25s, box-shadow ease-in-out .25s;
}

.input-btn {
    cursor              : pointer;
    -ms-touch-action    : manipulation;
        touch-action    : manipulation;
    -webkit-user-select : none;
       -moz-user-select : none;
        -ms-user-select : none;
            user-select : none;
}

.input-control-group .input-control,
.input-control-group .input-btn,
.input-control-group > .input-addon,
.input-control-group > .input-btn-group {
    position      : relative;
    margin        : 0;
    border-radius : 0;
}

.input-control-group > .input-control,
.input-control-group > .input-btn,
.input-control-group > .input-addon,
.input-control-group > .input-btn-group {
    display : table-cell;
}

.input-control-group > .input-control {
    width : 100%;
}

.input-control-group > .input-control.input-btn {
    width : auto;
}

.input-control-group > .input-addon,
.input-control-group > .input-btn-group {
    width : 1%;
}

.input-control-group > .input-btn-group {
    font-size : 0;
}

.input-control-group > .input-btn-group > .input-control,
.input-control-group > .input-btn-group > .input-btn {
    display : inline-block;
}

/* Input Group Style Tweaks */

.input-control-group > .input-control:first-child,
.input-control-group > .input-btn:first-child,
.input-control-group > .input-addon:first-child,
.input-control-group > .input-btn-group:first-child > .input-control:first-child,
.input-control-group > .input-btn-group:first-child > .input-btn:first-child,
.input-control-group > .input-btn-group:first-child > .input-addon:first-child {
    border-top-left-radius    : 6px;
    border-bottom-left-radius : 6px;
}

.input-control-group > .input-control:last-child,
.input-control-group > .input-btn:last-child,
.input-control-group > .input-addon:last-child,
.input-control-group > .input-btn-group:last-child > .input-control:last-child,
.input-control-group > .input-btn-group:last-child > .input-btn:last-child,
.input-control-group > .input-btn-group:last-child > .input-addon:last-child {
    border-top-right-radius    : 6px;
    border-bottom-right-radius : 6px;
}

.input-control-group > .input-control:focus,
.input-control-group > .input-btn:hover,
.input-control-group > .input-btn:focus,
.input-control-group > .input-btn:active,
.input-control-group > .input-btn.active,
.input-btn-group > .input-btn:hover,
.input-btn-group > .input-btn:focus,
.input-btn-group > .input-btn:active,
.input-btn-group > .input-btn.active {
    z-index : 2;
}

.input-control-group > .input-control + .input-control,
.input-control-group > .input-control + .input-btn,
.input-control-group > .input-control + .input-btn-group .input-btn:first-child,
.input-control-group > .input-btn + .input-control,
.input-control-group > .input-btn + .input-btn,
.input-control-group > .input-btn + .input-btn-group .input-btn:first-child,
.input-control-group > .input-btn-group + .input-control,
.input-control-group > .input-btn-group + .input-btn,
.input-control-group > .input-btn-group + .input-btn-group .input-btn:first-child,
.input-btn-group .input-btn + .input-btn,
.input-btn-group .input-btn + .input-btn-group,
.input-btn-group .input-btn-group + .input-btn,
.input-btn-group .input-btn-group + .input-btn-group {
    margin-left: -2px;
}

.input-control-group > .input-addon:first-child,
.input-control-group > .input-btn-group:first-child > .input-addon:first-child {
    border-right : 0;
}

.input-control-group > .input-addon:last-child,
.input-control-group > .input-btn-group:last-child > .input-addon:last-child {
    border-left : 0;
}

.input-addon input[type="radio"],
.input-addon input[type="checkbox"] {
    margin-top : 0;
}

/* Input Styling */

.input-control:hover,
.input-btn:hover,
.input-btn:focus {
    border-color : #ffffff;
    color        : #ffffff;
}

/* //// Custom Inputs //// */

/* Select Upload Mode */

.input-control.input-select {
    position : relative;
    padding  : 0;
}

.input-select:before {
    position     : absolute;
    right        : 0;
    margin-right : 10px;
    line-height  : 30px;
    content      : '\25BE';
}

.input-select > select {
    height         : 100%;
    position       : relative;
    z-index        : 1;
    margin         : 0;
    padding        : 0 36px 0 12px;
    background     : transparent;
    border         : 0 none transparent;
    border-radius  : 0;
    text-indent    : 0.01px;
    text-overflow  : '';
    -webkit-appearance : none;
       -moz-appearance : none;
            appearance : none;
}

.control-img-upload.upload-mode-web > .input-img-file,
.control-img-upload.upload-mode-file > .input-img-web {
    display : none;
}

/* Other Inputs */

.input-control > input,
.input-control > .input-cover {
    cursor   : pointer;
}

.input-control > .input-cover {
    width    : 100%;
    height   : 100%;
    position : absolute;
    top      : 0;
    left     : 0;
    bottom   : 0;
    right    : 0;
    margin   : 0;
}

.input-control > .input-cover.input-face {
    padding : 4px 12px;
}

.input-control > .input-hidden {
    opacity  : 0;
    filter   : alpha(opacity=0);
}

.input-control.input-file,
.input-control.input-switch {
    min-width : 108px;
    position  : relative;
    padding   : 0;
}

.input-control.input-switch > input[type="checkbox"]:checked + label > span.off,
.input-control.input-switch > input[type="checkbox"]:not(:checked) + label > span.on {
    display : none;
}

/* //// Background Image //// */

.bg-sky {
    background-attachment : fixed;
    background-color      : #566C73;
    background-image      : url('../img/Sky_over_Washington_Monument-480x640px.jpg');
    background-position   : center center;
    background-repeat     : no-repeat;
    background-size       : cover;
}

@media only screen and (min-width : 480px) {
    .bg-sky {
        background-image      : url('../img/Sky_over_Washington_Monument-800x600px.jpg');
    }
}

@media only screen and (min-width : 800px) {
    .bg-sky {
        background-image      : url('../img/Sky_over_Washington_Monument-1600x1200px.jpg');
    }
}
