@use "../vendors/spectre.css/abstracts" as spectre-css;
@use "../abstracts" as s;

.bottom-app-bar,
.bottom-app-bar-primary,
.bottom-app-bar-secondary,
.bottom-app-bar-tertiary {
    display: flex;
}

.bottom-app-bar {
    $bottom-app-bar-padding-x:      0.5 * s.$spacer;
    $bottom-app-bar-padding-y:      0.5 * s.$spacer;
    $bottom-app-bar-sm-padding-x:   s.$grid-gutter-width;
    $bottom-app-bar-sm-padding-y:   s.$grid-gutter-half;

    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: $bottom-app-bar-padding-y $bottom-app-bar-padding-x;
    background: s.$brand-overlay-white;

    @include s.breakpoint(sm) {
        padding: $bottom-app-bar-sm-padding-y $bottom-app-bar-sm-padding-x;
    }

    .form-section {
        margin-right: s.$grid-gutter-width;
    }

    .form-group {
        &:not(:last-child) {
            margin-bottom: 0;
            margin-right: 0.5 * s.$spacer;
        }
    }

    .form-label {
        @include s.sr-only;
    }

    .field-group {
        position: relative;
        margin: 0;
    }

    .field-group-legend {
        position: absolute;
        bottom: 100%;
        margin-bottom: $bottom-app-bar-padding-y;
        padding-bottom: 0.25rem;
        color: s.$text-inverse-color;
        font-size: spectre-css.$font-size-lg;
        @include s.font-smoothing;

        @include s.breakpoint(sm) {
            margin-bottom: $bottom-app-bar-sm-padding-y;
        }
    }

    .field-group-body {
        display: flex;
        padding: 0;
        border: 0;
    }

    .btn-select-block {
        .btn-select-options {
            // Fixes for IE
            display: inline-flex;

            .btn-select-option {
                flex: 1 0 auto;
            }
        }
    }

    .form-file-picker-footer {
        display: none;
    }
}

.bottom-app-bar-primary {
    @include s.breakpoint(0 sm) {
        .form-section {
            margin: 0;
        }

        @include s.browser-ie10-up {
            width: 100%;

            .form-section {
                width: 100%;
            }

            .form-group {
                &:last-child {
                    flex: 1 1 0%;
                }
            }
        }
    }
}

.bottom-app-bar-secondary {
    @include s.breakpoint(0 sm) {
        display: none;
    }
}

.bottom-app-bar-tertiary {
    @include s.breakpoint(0 md) {
        display: none;
    }
}
