@use "sass:color";

@use "../vendors/spectre.css/abstracts" as spectre-css;
@use "../abstracts" as s;

.btn {
    border-color: spectre-css.$border-color-dark;
    font-weight: 500;

    &:hover,
    &:focus {
        background: color.adjust(spectre-css.$primary-color, $lightness: 50%);
        border-color: spectre-css.$primary-color;
        color: spectre-css.$primary-color;
    }

    &:active,
    &.active {
        background: spectre-css.$primary-color-light;
        border-color: spectre-css.$primary-color-light;
        color: spectre-css.$light-color;
        transition: s.$control-shadow-transition;
    }

    &[disabled],
    &:disabled,
    &.disabled {
        border-color: spectre-css.$bg-color-dark;
        color: spectre-css.$bg-color-dark;
        opacity: 1;

        &.active {
            background: spectre-css.$bg-color-dark;
            color: spectre-css.$light-color;
        }
    }

    &.btn-link {
        &:hover,
        &:focus {
            border-color: transparent;
        }

        &:active,
        &.active {
            color: spectre-css.$light-color;
        }
    }

    .btn-text {
        vertical-align: top;
    }

    .icon + .btn-text,
    .btn-text + .icon {
        margin-left: 0.5rem;
    }
}

.btn-group {
    flex-wrap: nowrap;

    .btn {
        &.active {
            z-index: 2;
        }
    }

    + .btn-group {
        margin-left: spectre-css.$unit-2;
    }
}
