//
// Button
//

.btn {
    font-weight: 500;

    &:focus,
    &:hover {
        background: lighten($primary, 50%);
    }

    &:active,
    &.active {
        background: $primary-color-dark;
        border-color: darken($primary-color-dark, 5%);
        transition: none;
    }

    &.btn-link {
        &:active,
        &.active {
            color: $light-color;
        }
    }

    .btn-text {
        vertical-align: top;
    }

    .icon + .btn-text,
    .btn-text + .icon {
        margin-left: 0.5rem;
    }
}

.btn-group {
    flex-wrap: nowrap;
}
