@use "../abstracts" as s;

$drawer-width:                  s.rem(288px);
$drawer-xs-width:               s.rem(320px);
$drawer-sm-width:               s.rem(360px);

$drawer-zindex:                 s.$zindex-fixed;

.drawer {
    width: $drawer-width;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: $drawer-zindex;
    overflow-y: auto;
    background-color: s.$white;
    box-shadow: none;
    transform: translateX(-100%);
    transition:
        visibility 0ms s.$transition-duration,
        box-shadow s.$transition-style,
        transform s.$transition-style;

    @include s.breakpoint(xs) {
        width: $drawer-xs-width;
    }

    @include s.breakpoint(sm) {
        width: $drawer-sm-width;
    }

    &.open {
        visibility: visible;
        box-shadow: 0 0 0.5rem 0.25rem rgba(s.$black, 0.25);
        transform: translateX(0);
        transition:
            visibility 0ms,
            box-shadow s.$transition-style,
            transform s.$transition-style;
    }
}

.drawer-overlay {
    visibility: hidden;
    @include s.block-full;
    z-index: $drawer-zindex;
    background-color: s.$white;
    opacity: 0;
    transition:
        opacity s.$transition-style,
        visibility 0ms s.$transition-duration;

    &.open {
        visibility: visible;
        opacity: 0.5;
        transition:
            opacity s.$transition-style,
            visibility 0ms 0ms;
    }
}
