//
// Empty state
//

.empty {
    background: $brand-gray-lightest;
    color: $brand-gray-dark;

    h2,
    p {
        margin: $layout-spacing auto;
    }
}

.empty-screen {
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 0;
}
