@use "../vendors/spectre.css/abstracts" as spectre-css;
@use "../abstracts" as s;

.field-group-legend {
    margin-bottom: 0.375em;
    font-size: 0.75rem;
}

.field-group-body {
    padding: 0.5 * s.$spacer;
    background: s.$brand-gray-lightest;
    border: spectre-css.$border-width solid s.$brand-gray-lighter;
    border-radius: spectre-css.$border-radius;
}
