//
// Form
//

.form-group {
    position: relative;
    margin-bottom: 0;

    &:not(:last-child) {
        margin-bottom: $spacer;
    }
}

legend {
    color: $brand-gray-darkest;
    font-weight: bold;
}

.form-label {
    width: fit-content;
    margin-bottom: 0.5em;
    padding: 0;
    color: $brand-gray-darkest;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.5;
}

.form-input {
    font-weight: normal;
}

.form-input-hint {
    margin-bottom: 0;
}

.form-switch {
    .form-icon {
        background-clip: border-box;
        background-color: $gray-color-dark;
        border-color: $gray-color-dark;
    }

    label {
        transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;

        .form-icon-target {
            width: $unit-8;
            height: $unit-4 + $border-width * 2;
            position: absolute;
            top: ($control-size-sm - $unit-4) / 2 - $border-width;
            left: 0;
            z-index: 1;
            border-radius: $unit-2 + $border-width;
            cursor: pointer;
        }
    }

    input {
        &:disabled,
        &.disabled {
            ~ .form-icon {
                background-color: $bg-color-dark;
                border-color: $bg-color-dark;
                opacity: 1;
            }

            ~ label {
                color: $gray-color-light;

                .form-icon-target {
                    cursor: not-allowed;
                }
            }
        }
    }
}

.form-static {
    width: 100%;
    display: block;
    padding: $control-padding-y 0;
    background: none;
    border: solid transparent;
    border-width: $border-width 0;
    color: $text-color;
    font-size: $font-size-base;
    font-weight: normal;
    line-height: $line-height-base;
    outline: 0;

    &:focus {
        @include control-shadow;
    }

    &.disabled {
        color: $gray-color-light;
    }
}
