//
// Form file input
//

.form-file {
    position: relative;
}

.form-file-input,
.form-file-btn {
    border-radius: $border-radius;
}

.form-file-input {
    width: 100%;
    height: 100%;
    display: block;
    @include block-full;
    z-index: 2;
    overflow: hidden;
    // HACK: Hide input text so `cursor: pointer;` will work in Firefox.
    // https://stackoverflow.com/a/24488438
    font-size: 0;
    opacity: 0;
    cursor: pointer;

    &::-webkit-file-upload-button {
        // Chrome and Blink button
        cursor: pointer;
    }

    &:focus + .form-file-btn {
        @include control-shadow();

        .form-input {
            border-color: $primary-color;
        }
    }

    &:focus + .form-file-btn .btn,
    &:hover + .form-file-btn .btn {
        background: lighten($primary, 50%);
        border-color: $primary-color-dark;
    }

    &:active + .form-file-btn .btn {
        background: $primary-color-dark;
        border-color: darken($primary-color-dark, 5%);
        color: $light-color;
        transition: none;
    }

    &:disabled,
    &.disabled {
        pointer-events: none;

        + .form-file-btn {
            .form-input {
                background-color: $bg-color-dark;
                opacity: 0.5;
                cursor: not-allowed;
            }

            .btn {
                opacity: 0.5;
                cursor: default;
                pointer-events: none;
            }
        }
    }
}

.form-file-btn {
    .form-input {
        background-color: $bg-color-light;
        opacity: 1;
        cursor: default;
    }
}
