//
// Icons
//

.svg-icon {
    $size: 1.5rem;

    width: $size;
    height: $size;
    vertical-align: (($font-size-base * $line-height-base - $size * $line-height-base) / 2);
}

.icon-hoisting-dexter   { transform: scale(1, 1);    }
.icon-hoisting-sinister { transform: scale(-1, 1);   }
