//
// Nav
//

.nav {
    margin: 0;
    padding: 0;

    .nav-item {
        .link {
            color: $gray-color-dark;
            padding: $unit-1 $unit-2;
            text-decoration: none;

            &:hover,
            &:focus {
                color: $link-color;
            }

            &:active {
                color: $link-color-dark;
            }
        }

        &.active {
            > .link {
                color: darken($gray-color-dark, 10%);
                font-weight: bold;

                &:hover,
                &:focus {
                    color: $link-color;
                }

                &:active {
                    color: $link-color-dark;
                }
            }
        }
    }
}
