//
// Panel
//

$panel-outer-padding-x: 0.5 * $spacer;
$panel-outer-padding-y: $spacer;
$panel-sm-outer-padding-x: $grid-gutter-width;
$panel-sm-outer-padding-y: $grid-gutter-width;

.panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.panel-header,
.panel-body {
    padding: $panel-outer-padding-y $panel-outer-padding-x;

    @include breakpoint(sm) {
        padding: $panel-sm-outer-padding-y $panel-sm-outer-padding-x;
    }
}

.panel-header {
    flex: 0 0 auto;
    background-color: $brand-gray-lightest;
}

.panel-body {
    flex: 0 1 auto;
    padding-bottom: 2 * $panel-outer-padding-y;
    overflow-y: scroll;

    @include breakpoint(sm) {
        padding-bottom: 2 * $panel-sm-outer-padding-y;
    }

    .btn-group,
    .input-group {
        width: 100%;
    }
}

.panel-navbar {
    position: relative;
    z-index: 1;
    background-color: $brand-gray-lightest;

    .btn {
        border-radius: 0;
    }
}

.panel-navbar-layout {
    display: flex;

    .panel-navbar-left,
    .panel-navbar-right {
        flex: 1 0 auto;
    }

    .panel-navbar-left {
        text-align: left;
    }

    .panel-navbar-right {
        text-align: right;
    }
}

.panel-nav {
    padding: ($panel-outer-padding-y - $unit-1) ($panel-outer-padding-x - $unit-2);

    @include breakpoint(sm) {
        padding: ($panel-sm-outer-padding-y - $unit-1) ($panel-sm-outer-padding-x - $unit-2);
    }
}

.panel-heading {
    margin: 0;
}
