@use "../vendors/spectre.css/abstracts" as spectre-css;
@use "../abstracts" as s;

.slider {
    // Fixes for IE
    // https://github.com/picturepan2/spectre/pull/599
    padding: 0;
    transition: s.$control-shadow-transition;

    &::-webkit-slider-thumb {
        transition:
            background s.$transition-style,
            transform s.$transition-style;
    }

    &::-moz-range-thumb {
        transition:
            background s.$transition-style,
            transform s.$transition-style;
    }

    &::-ms-thumb {
        transition:
            background s.$transition-style,
            transform s.$transition-style;
    }

    &::-ms-track {
        // Fixes for IE
        // https://github.com/picturepan2/spectre/pull/599
        border: 0;
        color: transparent;
    }

    &:disabled,
    &.disabled {
        &::-ms-fill-lower {
            background: spectre-css.$gray-color-light;
        }
    }
}
