//
// Typography
//

html.wf-active body {
    font-family: $font-family-montserrat;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: 500;
    line-height: 1.25;

    small, .small {
        margin-left: 0.25em;
        color: $brand-gray-light;
        font-weight: 500;
    }
}

h1, .h1 {
    font-size: 2rem;
}

h2, .h2 {
    font-size: 1.5rem;
}

h3, .h3 {
    font-size: 1.25rem;
}

h4, .h4 {
    font-size: 1.125rem;
}

h5, .h5 {
    font-size: 1rem;
}

h6, .h6 {
    font-size: 0.875rem;
}

p {
    margin: 0 0 ($font-size-base * $line-height-base);
}

a,
.link {
    color: $link-color;
    font-weight: 500;
    text-decoration: $link-decoration;
    transition: $control-transition;

    &:visited {
        color: $link-color;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $link-color-dark;
        text-decoration: $link-hover-decoration;
    }

    &:active,
    &.active {
        transition: $control-shadow-transition;
    }
}

.link {
    display: inline;
    @include button-unstyled;
    outline: 0;
    cursor: pointer;

    &:focus {
        @include control-shadow;
    }
}

hr, .hr {
    margin: ($font-size-base * $line-height-base) 0;
    border: 0;
    border-top: $border-width solid $border-color;
}

.text-inverse {
    color: $text-inverse-color;
    @include font-smoothing;
}
